
* {
  font-family: 'Helvetica', Arial, sans-serif;
}

header {
  background-image: url('file:///Users/jilianhandfield/Documents/Codecademy/DevProject/Resources/pattern.jpeg');
  background-size: auto;
}

h1 {
  font-size: 100px;
  font-weight: bold;
  text-align: center;
  color: khaki;
}

h2 {
  font-size: 32px;
  font-weight: bold;
  text-align: left;
  color: white;
}

.first {
  background-color: mediumspringgreen;
  opacity: 1;
}

.second {
  background-color: lightcoral;
  opacity: 1;

}

.third {
  background-color: skyblue;
  opacity: 1;
}
.price {
  font-weight: bold;
  color: blue;
}
